version: 1.0.{build}
image:
  - Visual Studio 2017
  - ubuntu1804
  - macos
  - macos-mojave
environment:
  matrix:
  - TOXENV: py27
  - TOXENV: py35
  - TOXENV: py36
  - TOXENV: py37
  - TOXENV: py38
install:
- cmd: pip install tox
build: off
test_script:
- cmd: >-
    set USE_MSYS=1

    tox
